.wrapper {
    padding-top: 100px;
    padding-bottom: 100px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.home h1 {
    padding: 50px;
    text-align: center;
    font-size: xx-large;
}